* {
    box-sizing: border-box;
}
.container {
    width: 480px;
    background-color: mediumblue;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}
.item   {
    background-color: mediumspringgreen;
}

@media (min-width: 768px){
    .container {
        width: 480px;
        background-color: mediumblue;
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px 190px ;
        grid-template-rows: 100px 200px 250px 150px;
    }

}