.header {
    background-color: purple;
    grid-column: span 2;
    grid-row: 1;
  }
  
  .advertisement {
    background-color: mediumturquoise;
    grid-column: span 2;
    grid-row: 2;
    
  }
  
  .pic {
  background-color: red;
  grid-column: span 2;
  grid-row: 3;
  }
  
  .pic2 {
    background-color: orange;
    grid-column: span 2;
    grid-row: 4;
  }
  
  .item1 {
    background-color: orchid;
    grid-row: 5;
  }
  
  .item2 {
    background-color: pink;
    grid-row: 5;
  }
  .item3 {
    background-color: rgb(204, 73, 95);
    grid-row: 6;
  }
  
  .item4 {
    background-color: rgb(103, 63, 168);
    grid-row: 6;
  }
  .footer {
    background-color: green;
    grid-column: span 2;
    grid-row: 7;
  }
  
  
  @media (min-width: 768px) {
    .header {
      max-width: 960px;
      background-color: rgb(211, 11, 211);
      grid-column: span 5;
      grid-row: 1;
    }
    
    .advertisement {
      background-color: rgb(6, 99, 96);
      grid-column: 1;
      grid-row-start: 2;
      grid-row-end: 5;
      
    }
    
    .pic {
    background-color: rgb(138, 75, 75);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    }
    
    .pic2 {
      background-color: rgb(143, 104, 32);
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row: 2;
    }
    
    .item1 {
      background-color: rgb(150, 48, 146);
      grid-column: 2;
      grid-row: 3;
    
    }
    
    .item2 {
      background-color: rgb(50, 148, 132);
      grid-column: 3;
      grid-row: 3;
    }
    .item3 {
      background-color: rgb(12, 151, 81);
      grid-column: 4;
      grid-row: 3;
    }
    
    .item4 {
      background-color: rgb(42, 0, 110);
      grid-column: 5;
      grid-row: 3;
    }
    .footer {
      background-color: rgb(60, 206, 60);
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row: 4;
    }
  }